* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background-image: url("https://i.ibb.co/Wp7fpN8/space-stars.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  background: linear-gradient(45deg, #00d4ff, #0070ff, #b700ff);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.logo span {
  color: #ffffff;
  text-shadow: 0 0 10px cyan;
}

.btn {
  padding: 15px 50px;
  font-size: 24px;
  border: none;
  border-radius: 40px;
  background: #0077ff;
  color: white;
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  background: #00bbff;
  transform: scale(1.07);
}
