body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #003973, #E5E5BE, #00A8CC, #00284D);
    background-size: 300% 300%;
    animation: oceanWave 12s ease infinite;
}

@keyframes oceanWave {
    0%,100% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
}

/* Devonix AI Title */
.logo {
    font-size: 50px;
    font-weight: 800;
    color: #000000;
    margin-top: 40px; /* Top space increased */
    text-align: center;
}

/* Container for button */
.center-box {
    margin-top: 100;
    margin-bottom: 140px;
}

/* Get Start Button */
.start-btn {
    font-size: 50px;
    padding: 40px 60px; /* Bigger button */
    border: none;
    border-radius: 30px;
    background: #002A6D; /* Dark Blue */
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.start-btn:hover {
    background: #0045A5;
}
