body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #0077ff, #00ffaa);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.store-btn, .signup-btn {
  padding: 20px 20px;
  border: none;
  background: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
