body {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height:100%;
    margin:0;
    background-colour:green;
    
}
.container {
    width: 320px;             
    text-align: center;
}
