body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #003973, #E5E5BE, #00A8CC, #00284D);
    background-size: 300% 300%;
    animation: oceanWave 12s ease infinite;
}

@keyframes oceanWave {
    0%,100% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
}

/* Devonix AI Title */
.logo {
    font-size: 40px;
    font-weight: 800;
    color: #000000;
    margin-top: 10px; /* Top space increased */
    text-align: center;
}

/* Container for button */
.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
}

/* Get Start Button */
.start-btn {
    font-size: 32px;
    padding: 25px 70px;
    border: none;
    border-radius: 14px;
    background: #004aad;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.start-btn:hover {
    transform: scale(1.08);
    background: #002F6C;
}
